*.html linguist-detectable=false
*.js linguist-detectable=false
*.rmd linguist-detectable
*.Rmd linguist-detectable
*.qmd linguist-detectable
*.lua linguist-detectable=false
*.tex linguist-detectable=false
*.scss linguist-detectable=false
*.css linguist-detectable=false
# SCM syntax highlighting & preventing 3-way merges
pixi.lock merge=binary linguist-language=YAML linguist-generated=true -diff
